
##Test artefacts
tests/processors/cache/
tests/processors/ipy_processor_test.txt
tests/processors/processor_test.txt
tests/readers/markdown_reader.txt
tests/octave/octave_test.txt
tests/publish/publish_test.html
tests/publish/publish_test_cell.html
tests/convert/convert_test.Pnw
tests/convert/simple.ipynb
tests/formats/formatters_test.html
tests/formats/formatters_test.md
tests/formats/formatters_test.rst
tests/formats/formatters_test.tex
tests/formats/formatters_test.txt
tests/weave/pandoc/ar_yw.md
tests/weave/pandoc/inline_chunks.md
tests/weave/pandoc/simple.md
tests/weave/tex/FIR_design_verb.tex
tests/weave/tex/FIR_design_verb/FIR_design.tex
tests/weave/tex/FIR_design_verb/FIR_design_AbsoluteFigdir.tex
tests/weave/tex/FIR_design_verb/FIR_design_figdir.tex
tests/weave/tex/term_test.tex
tests/weave/texminted/wrap_test.tex
tests/readers/markdown_reader.md
tests/publish/publish_test.py
tests/formats/formatters_url.pmd
tests/publish/cache/
tmp/
.ipynb_checkpoints/*

run_tests.sh
koe*.py

*.py[cod]


.idea/
temp/
htmlcov/
conda/pweave/.binstar.yml
cover/
*.png
*.pdf
koe.py

tests/*/*.png

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
*.sln
*.suo
*.pyproj

#Example builds
examples/figures/
*.aux
*.log
*.out
examples/*.html
examples/*.pdf
examples/*.tex
examples/*.rst
examples/*.md
examples/*.*#
examples/cache


#Testing
test.py
Plans.txt
