
##Test artefacts
tests/processors/cache/
tests/processors/ipy_processor_test.txt
tests/processors/processor_test.txt
tests/readers/markdown_reader.txt
tests/octave/octave_test.txt
tests/publish/publish_test.html

run_tests.sh

*.py[cod]


.idea/
temp/
htmlcov/
conda/pweave/.binstar.yml
cover/
*.png
*.pdf
koe.py

tests/*/*.png

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
*.sln
*.suo
*.pyproj

#Example builds
examples/figures/
*.aux
*.log
*.out
examples/*.html
examples/*.pdf
examples/*.tex
examples/*.rst
examples/*.md
examples/*.*#
examples/cache


#Testing
test.py
Plans.txt
